.alert.success
	.alert_main
		.alert_icon
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none")
				mask(id="mask0_137_18" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="3" y="3" width="54" height="54")
				path(d="M30 55C33.2837 55.0043 36.5358 54.3596 39.5695 53.1029C42.6032 51.8463 45.3587 50.0025 47.6775 47.6775C50.0025 45.3587 51.8463 42.6032 53.1029 39.5695C54.3596 36.5358 55.0043 33.2837 55 30C55.0042 26.7164 54.3595 23.4642 53.1028 20.4306C51.8462 17.3969 50.0024 14.6414 47.6775 12.3225C45.3587 9.99755 42.6032 8.15377 39.5695 6.89713C36.5358 5.64049 33.2837 4.99577 30 5.00002C26.7164 4.99583 23.4642 5.64059 20.4306 6.89722C17.3969 8.15386 14.6414 9.99761 12.3225 12.3225C9.99761 14.6414 8.15386 17.3969 6.89722 20.4306C5.64059 23.4642 4.99583 26.7164 5.00002 30C4.99577 33.2837 5.64049 36.5358 6.89713 39.5695C8.15377 42.6032 9.99755 45.3587 12.3225 47.6775C14.6414 50.0024 17.3969 51.8462 20.4306 53.1028C23.4642 54.3595 26.7164 55.0042 30 55Z" fill="#2abb9d" stroke-width="4" stroke-linejoin="round")
				path(d="M20 30L27.5 37.5L42.5 22.5" stroke="white" stroke-width="5" stroke-linecap="square" stroke-linejoin="round")
		p Форма заявки успешно отправлена

.alert.failed
	.alert_main
		.alert_icon
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none")
				path(d="M30 3.75C15.375 3.75 3.75 15.375 3.75 30C3.75 44.625 15.375 56.25 30 56.25C44.625 56.25 56.25 44.625 56.25 30C56.25 15.375 44.625 3.75 30 3.75ZM40.125 43.125L30 33L19.875 43.125L16.875 40.125L27 30L16.875 19.875L19.875 16.875L30 27L40.125 16.875L43.125 19.875L33 30L43.125 40.125L40.125 43.125Z" fill="#D54040")

		p Проверьте правильность заполнения полей