section.section.grid.grid--design_mod
	.section_in.grid__in
		.pay__heading.js-fade-el
			.pay__icon
				+icon('bookmark', 'icon--size_mod')
			.pay__title Галерея дизайнов
		.grid__list_w
			ul.grid__list
				+loop_while(16)
					li.grid__list_item.js-fade-el
						a(href="#" data-fancybox="gallery" data-src=`images/grid-2/g-${i - 1}.jpg`).js-grid-gallery.grid__list_link
							.grid__list_img_icon
								+icon("zoom", 'icon--size_mod')
							.grid__list_img_w
								img(src=`images/grid-2/g-${i - 1}.jpg`, alt="some image")

