section.section.hero.js-hero-animation
	.section_in.hero__in
		.hero__row
			.hero__col.hero__col--info_mod
				.hero__info
					h1.hero__title.js-hero-animation-title Именные выпускные ленты #[strong за 2 дня!]
					.hero__descr.js-hero-animation-descr
						.hero__descr_item
							.hero__descr_title До Нового Года действует цена:

						.hero__descr_item
							.hero__descr_price
								.hero__price_old 210₽
									.hero__price_img_w
										img(src="images/pencil.png", alt="")
								.hero__price 170₽

					.hero__btn_w
						a(href="#").btn_3.js-popup-contact-trigger.js-hero-animation-btn Заказать со скидкой

			.hero__col.hero__col--img_mod
				.hero__img_w.js-hero-animation-img
					img(src="images/hero.png", alt="images")