.popup(class=`js-popup-contact` data-popup-id='contact')
	.popup__in
		.popup__content
			button.popup_close.js-popup-close(type="button" aria-label="Close Popup" tabindex="0")
			.popup__content_in
				h2.popup__content_title Оставьте заявку
				.popup__content_form_w
					form(action="", method="post")
						.popup__content_form
							.popup__content_form_item
								+form_input({
									placeholder: 'Имя',
									type: 'text',
									id: 'name'
								})
							.popup__content_form_item
								+form_input({
									placeholder: 'Номер телефона',
									type: 'text',
									class: 'form_input__element js-mask-phone',
									id: 'phone'
								})

							.popup__content_descr Отправляя заявку вы соглашаетесь на обработку своих персональных данных и принимаете политику конфиденциальности.

							.popup__content_form_btn_w
								button(type="submit").btn_1.popup__content_form_btn Отправить заявку
