//---------------------------------------------fonts
$font_path: '../fonts/';
$font_1: 'Raleway', sans-serif;
$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$black_2: #252525;
$gray: #f4f4f4;
$gray_2: #a8a8a8;
$blue: #4b9fec;
$blue_2: #406ee2;
$red: #d44040;

$color_text_base: $black_2;
$color_link_base: #4aa3df;
$body_bg: $white;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup: 101,
	header: 100,
	footer: 100,
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 132rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 0.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023.5px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 6.3rem;
$input_offset: 0 2.5rem;
$input_font_size: $font_size_base;
$input_border_color: $gray_2;
$input_border_color_active: $blue;
$input_placeholder_color: $gray_2;
$input_text_color: $black;
$input_radius: 1rem;
//---------------------------------------------forms###
