@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_1 {
	font-weight: 600;
	color: $gray;
	background-color: $blue_2;
	box-shadow: inset 0px 0px 0px 2px $gray;
	transition: background-color 0.3s ease, box-shadow ease 0.3s;

	@include st_btn;

	&:hover {
		background-color: $blue;
		box-shadow: inset 0px 0px 0px 2px rgba($gray, 0);
	}
}

@mixin btn_style_2 {
	position: relative;

	font-weight: 600;
	color: $gray;
	background-color: $red;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		box-shadow: 0 2.7rem 2.5rem -1rem rgba(0, 0, 0, 0.15);
		opacity: 0;
		transition: opacity 0.3s ease;
		content: '';
	}

	&:hover {
		background-color: $blue;
		&:after {
			opacity: 1;
		}
	}
}
@mixin btn_style_3 {
	position: relative;

	font-weight: 600;
	color: $gray;
	background-color: $red;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		box-shadow: 0 2.7rem 2.5rem -1rem rgba(0, 0, 0, 0.15);
		opacity: 0;
		transition: opacity 0.3s ease;
		content: '';
	}

	&:hover {
		background-color: $red;
	}

	&:hover:before {
		opacity: 1;
	}
}

//size mixins:
@mixin btn_size_1 {
	height: 5.2rem;
	padding: 0 3rem;

	line-height: 5.2rem;
	font-size: 2rem;

	border-radius: 1rem;
}

@mixin btn_size_2 {
	height: 7.2rem;
	padding: 0 4rem;

	line-height: 7.2rem;
	font-size: 2rem;

	border-radius: 1rem;
}
