.about {
	background-color: $blue;

	padding: 5rem var(--gl-indent);
}

.about__list {
	@include flex_block(row, wrap, center);

	margin: 0 -4rem -4rem 0;
}

.about__item {
	padding: 0 4rem 4rem 0;
	color: $gray;
	// max-width: 32rem;
	// width: 100%;

	@include bp($point_2, min) {
		width: 25%;
	}
	@include bp($point_3) {
		width: 100%;
	}
}

.about__item_in {
	@include bp($point_2, min) {
		@include flex_block(row, nowrap, flex-start);
	}
	@include bp($point_3) {
		@include flex_block(column, nowrap, center, center, center);
		text-align: center;
	}
}

.about__item_icon {
	flex: none;
	width: 5rem;
	height: 5rem;

	@include bp($point_2, min) {
		margin-right: 1.2rem;
	}
	@include bp($point_3) {
		margin-bottom: 1.5rem;
	}
}

.about__item_descr {
	font-weight: 600;

	@include bp($point_2, min) {
		font-size: 2rem;
		max-width: 24rem;
	}
	@include bp($point_3) {
		max-width: 34rem;
		font-size: 2.2rem;
	}
}
