.adv__list {
	display: grid;

	grid-template-columns: repeat(3, 3fr);
	gap: 8rem;

	@include bp($point_2, min) {
		grid-template-columns: repeat(3, 3fr);
		gap: 8rem;
	}
	@include bp($point_3) {
		grid-template-columns: 1fr;
		gap: 4rem;
	}
}

.adv__item {
	text-align: center;
}

.adv__img_w {
	width: 14rem;
	height: 12rem;

	img {
		@include contain_img;
	}

	@include bp($point_2, min) {
		margin: 0 auto 3rem;
	}
	@include bp($point_3) {
		margin: 0 auto 2rem;
	}
}

.adv__title {
	max-width: 50rem;
	width: 100%;

	font-size: 2rem;
	font-weight: 600;
	margin: 0 auto 1.5rem;
}

.adv__descr {
	@include text_s;

	max-width: 50rem;
	width: 100%;
	margin: 0 auto;
}
