.alert {
	@include flex_block(row, wrap, flex-end, center, center);
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 100;

	max-width: 37rem;
	width: 100%;
	height: auto;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.alert_main {
	@include flex_block(row, nowrap, flex-end, center, center);
	padding: 3rem 5rem 3rem 3.5rem;
	background-color: $white;

	font-size: 2rem;

	font-weight: 400;
}

.alert_icon {
	width: 6rem;
	height: 6rem;
	margin-right: 2rem;

	border-radius: 50%;
	flex: none;

	.success & {
		background-color: #2abb9d;
	}
}
