@import 'family';
@import 'reset';
@import 'fonts';
@import 'print';

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-footer: 10rem;

	@include bp($point_2, min) {
		--height-header: 14.2rem;
		--gl-vr-indent: 6rem;
		--gl-indent: 4rem;
	}
	@include bp($point_3) {
		--height-header: 8rem;
		--gl-vr-indent: 3rem;
		--gl-indent: 2rem;
	}
}

html {
	height: 100%;
	font-weight: 400;
	line-height: 1.2;
	font-family: $font_1;

	@include bp(1920px, min) {
		font-size: calc(100vw / 1920 * 10);
	}

	@include bp(1919px, $point_1) {
		font-size: 10px;
	}

	@include bp($point_1 - 1, $point_2) {
		font-size: calc(100vw / 1200 * 10);
	}

	@include bp($point_3, $point_7) {
		font-size: 10px;
	}

	@include bp($point_7 - 1) {
		font-size: calc(100vw / 390 * 10);
	}
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}

	&.body--popup_open,
	&.body--open_menu_state {
		overflow: hidden;
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: var(--height-header);
		content: '';

		background: linear-gradient($blue, transparent 1px), linear-gradient(90deg, $blue, transparent 1px);
		background-size: 3rem 3rem;
		background-position: center center;
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $white;

	opacity: 1;
	transition: opacity 0.3s;

	z-index: 1000;

	.body--loaded & {
		pointer-events: none;
		opacity: 0;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// for wp

.editor-styles-wrapper .wp-block {
	margin-bottom: 5rem;
}
html :where(.wp-block) {
	max-width: 1200px;
}

.editor-styles-wrapper {
	overflow-x: hidden;
}

//------------------------------------------------------------base styles###

.js-hero-animation-img,
.js-hero-animation-btn,
.js-hero-animation-descr,
.js-hero-animation-title,
.js-fade-el {
	will-change: transform;
}

.js-hero-animation {
	opacity: 1;
}
