extends ../layout/layout

block vars
	//- include ../templates/project-vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Policy', template_name: 'policy'}

block content_block

	section.section.article
		.section_in.article__in
			.article_content
				h1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos consequuntur fuga non consectetur culpa dolore natus vel sint excepturi corporis recusandae hic deserunt, mollitia nobis explicabo nisi itaque quibusdam. Ab.
				h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempora blanditiis minus soluta eius, perspiciatis odio ratione earum doloremque, non, veniam veritatis doloribus vitae tempore et officia fugiat nostrum natus.
				h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus a magnam beatae quaerat similique repellendus unde neque architecto, fugit minus quisquam quia maxime accusantium necessitatibus placeat quidem aperiam porro!
				h4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt animi saepe, eligendi quos vero ab sapiente dicta totam expedita quis cupiditate doloribus. Officia quas earum architecto. Perferendis, deserunt. Distinctio?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, autem laboriosam iste ea mollitia consectetur illum dignissimos impedit perspiciatis voluptatem? Repellendus dolores dolore quos molestiae enim. Sint, obcaecati! Facere, repudiandae.
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae fugiat, voluptates maiores omnis ex odit rerum officiis mollitia laudantium libero voluptate unde numquam cupiditate natus rem. Perferendis mollitia qui suscipit?
