.footer {
	width: 100%;
	min-height: var(--height-footer);
	flex: 0 0 auto;

	font-size: 1rem;

	will-change: transform;

	background-color: $blue_2;

	@include bp($point_2, min) {
		padding: 2rem var(--gl-indent) 10rem;
	}

	@include bp($point_3) {
		padding: 3rem var(--gl-indent) 3rem;
		text-align: center;
	}
}

.footer__in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.footer__logo_w {
	position: relative;
	z-index: 10;

	display: block;
	color: $gray;
	flex: none;

	width: 18.2rem;
	height: 3.3rem;

	img {
		display: block;
		width: 100%;
		height: 100%;

		object-fit: contain;
	}

	&:hover {
		text-decoration: none;
	}

	@include bp($point_2, min) {
		margin-right: auto;
	}

	@include bp($point_3) {
		margin: 0 auto 3rem;
	}
}

.footer__logo_title {
	font-size: 2.8rem;
	font-style: normal;
	font-weight: 700;
}

.footer__icon {
	display: block;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 0.5rem;
}

.footer__phone {
	@include flex_block(row, wrap, center, center, center);

	font-size: 2rem;
	color: $gray;
	font-weight: 600;
	font-variant-numeric: lining-nums proportional-nums;

	transition: opacity ease 0.3s;

	&:hover {
		text-decoration: none;
		opacity: 0.7;
	}

	@include bp($point_2, min) {
		margin-right: 2rem;
	}

	@include bp($point_3) {
		margin-bottom: 2rem;
	}
}

.footer__row {
	&:not(:last-child) {
		@include bp($point_2, min) {
			margin-bottom: 5rem;
		}
		@include bp($point_3) {
			margin-bottom: 2rem;
		}
	}

	@include bp($point_2, min) {
		@include flex_block(row, wrap, space-between, center, center);
	}
}

.footer__col {
	&:last-child {
		text-align: right;
	}

	@include bp($point_3) {
		@include flex_block(column, wrap, center, center, center);
	}

	&:not(:last-child) {
		@include bp($point_3) {
			margin-bottom: 2rem;
		}
	}
}

.footer__contact_list {
	@include bp($point_3) {
		@include flex_block(column, wrap, center, center, center);
	}
}

.footer__top_social_w {
	@include flex_block(row, wrap, flex-start, center, center);

	@include bp($point_2, min) {
		margin-bottom: 3rem;
	}
	@include bp($point_3) {
		margin-bottom: 2rem;
	}
}

.footer__social {
	display: block;
	width: 4rem;
	height: 4rem;

	transition: opacity ease 0.3s;

	&:not(:last-child) {
		margin-right: 2rem;
	}

	&:hover {
		opacity: 0.7;
	}
}

.footer__contact_item {
	&:not(:last-child) {
		margin-bottom: 2.5rem;
	}
}

.footer__contact_link {
	@include flex_block(row, nowrap, flex-start);

	font-size: 2rem;
	color: $gray;
	transition: opacity ease 0.3s;
	font-weight: 400;

	&:hover {
		text-decoration: none;
		opacity: 0.7;
	}
}

.footer__contact_icon {
	position: relative;
	top: -0.2rem;
	flex: none;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 0.8rem;
}

.footer__link {
	display: block;
	color: #f4f4f4;
	font-size: 1.6rem;
	transition: opacity ease 0.3s;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&.footer__link--policy_mod {
		text-decoration: underline;
	}

	&.footer__link--arkada_mod {
		width: 18.8rem;
		height: 2.5rem;

		@include bp($point_2, min) {
			margin-left: auto;
		}
	}

	img {
		@include contain_img;
	}

	&:hover {
		opacity: 0.7;
	}
}
