//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: 1rem;
	padding: var(--gl-vr-indent) var(--gl-indent);
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}
